{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Hi, I'm <strong>{{ .Site.Params.author }}</strong>, a Software Developer.</h3>
        <h3>I love all things computer science and snowboarding.</h3>
        <h3>You can contact me through my email <a href="mailto:{{ .Site.Params.Social.Email }}">contact(at)patricknguyen.io</a></h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
